[Unit]
Description=Surah Al-Kahf Chromecast Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=YOUR_USERNAME
WorkingDirectory=/home/YOUR_USERNAME/git/kahf-chromecast
ExecStart=/home/YOUR_USERNAME/git/kahf-chromecast/venv/bin/python3 kahf.py
Restart=always
RestartSec=10
StandardOutput=append:/var/log/kahf_chromecast.log
StandardError=append:/var/log/kahf_chromecast.log

[Install]
WantedBy=multi-user.target
